.Gallery {
  width: 545px;
}

.Gallery h2 {
  padding: 0 24px;
}

.GalleryWrap {
  width: 100%;
  padding: 0 20px;
  display: flex;
  gap: 20px;
}

.GalleryWrap img {
  border-radius: 10px;
}

.button__Gallery {
  display: flex;
  align-items: center;
}

.left-button,
.right-button {
  font-size: 40px;
}

.left-button:hover,
.right-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: violet;
  transition: 0.5s;
}
