.Hero {
  width: 100%;
  height: 300px;
  background: url(https://picsum.photos/id/56/2880/1920) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Hero p {
  font-weight: bold;
}
