<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>End Points</title>
  </head>
  <body>
    <h1>End Points</h1>
    <ul>
      <li>(POST /aggiungi-ricetta)
        <a href="/aggiungi-ricetta">Clicca per aggiungere una ricetta</a>
      </li>
      <br />
      <li>(GET /ricette)
        <a href="/ricette">Clicca per visualizzare tutte le ricette</a>
      </li>
    </ul>
    <a href="/">Home Page</a>

  </body>
</html>